
/*end*/
.end{
    background-color: #363a3d;
    width: 100%;
}
.over {
    display: flex;
    justify-content: space-between;
    color: white;
    padding: 50px 0;
}
.over-part{
    padding-left: 30px;
}
.end div{
    flex:1;
}
.over-part p a{
    color: white;
}

.over-part p:first-child{
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
}
.over-part span:last-child a{
    padding-right: 10px;
    font-size: 40px;

    color: lightseagreen;

}