.policy_content_service{
    background-color: #f2f4f7;
    height: auto;
    padding-top: 10px;
    padding-bottom: 20px;
}
.policy_content_service_first{
    background-color: white;
    height: auto;
    padding: 40px ;
    margin: 20px 100px;
    text-align: justify;
}